*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-sony{
    width: 15vh;
}

.my-navbar{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
}

.my-collapse img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px){

    .collapse.my-collapse{
        position: absolute;
        top: 0%;
        left: 7%;
    }

    .collapse.my-collapse-right{
        position: absolute;
        top: 0;
        right: 7%;
    }

    .my-list{
        display: flex;
        flex-wrap: nowrap;
    }

    .collapse .my-list .my-list-md {
        display: inline;
        margin: 0 5px;
    }

    .my-list-inline-right{
        position: absolute;
        top: 60%;
        right: 0%;
    }

    .my-collapse li{
        text-align: end;
    }

}
    
